In [96]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import seaborn as sb

In [97]:
from sklearn import datasets
df = pd.read_csv('iris-data-clean.csv')
df

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,class
0,5.1,3.5,1.4,0.2,Setosa
1,4.9,3.0,1.4,0.2,Setosa
2,4.7,3.2,1.3,0.2,Setosa
3,4.6,3.1,1.5,0.2,Setosa
4,5.0,3.6,1.4,0.2,Setosa
...,...,...,...,...,...
140,6.7,3.0,5.2,2.3,Virginica
141,6.3,2.5,5.0,1.9,Virginica
142,6.5,3.0,5.2,2.0,Virginica
143,6.2,3.4,5.4,2.3,Virginica
144,5.9,3.0,5.1,1.8,Virginica

In [99]:
#df = pd.DataFrame(iris_data, columns=['sepal_length_cm', 'sepal_width_cm', 'petal_length_cm', 'petal_width_cm', 'class'])
df = df.rename(columns = {"sepal_length_cm":"SepalLength","sepal_width_cm":"SepalWidth","petal_length_cm":"PetalLength","petal_width_cm":"PetalWidth","class":"Class"})
df

     SepalLength  SepalWidth  PetalLength  PetalWidth      Class
0            5.1         3.5          1.4         0.2     Setosa
1            4.9         3.0          1.4         0.2     Setosa
2            4.7         3.2          1.3         0.2     Setosa
3            4.6         3.1          1.5         0.2     Setosa
4            5.0         3.6          1.4         0.2     Setosa
..           ...         ...          ...         ...        ...
140          6.7         3.0          5.2         2.3  Virginica
141          6.3         2.5          5.0         1.9  Virginica
142          6.5         3.0          5.2         2.0  Virginica
143          6.2         3.4          5.4         2.3  Virginica
144          5.9         3.0          5.1         1.8  Virginica

[145 rows x 5 columns]

In [73]:
def myfunction(x):
    if x == "Setosa":
        return 0
    elif x == "Virginica":
        return 1
    else:
        return 2
df["Class"] = df["Class"].apply(myfunction)
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Class
0          5.1         3.5          1.4         0.2      0
1          4.9         3.0          1.4         0.2      0
2          4.7         3.2          1.3         0.2      0
3          4.6         3.1          1.5         0.2      0
4          5.0         3.6          1.4         0.2      0

In [74]:
# we are going to use the fours features (sepal & petal - length & petal width) 
X = df.loc[:,"SepalLength":"PetalWidth"]

# use 'class' as the target we're trying to predict
y = df['Class']
X.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          5.1         3.5          1.4         0.2
1          4.9         3.0          1.4         0.2
2          4.7         3.2          1.3         0.2
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2

In [75]:
#Train model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [89]:
# we are going to fit our model to the training set

# need to specify multi_class = 'multinomial' and solver
logReg = LogisticRegression(solver = 'lbfgs', multi_class = 'multinomial', random_state = 42)
logReg.fit(X_train, y_train)

LogisticRegression(multi_class='multinomial', random_state=42)

In [93]:
y_pred = logReg.predict([[4.8,3.9,1.2,0.2]])
y_pred

C:\Users\User\anaconda3\envs\usethisversion\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array([0], dtype=int64)

In [94]:
y_pred[0]

0

In [92]:
#model validation
from sklearn.metrics import accuracy_score
y_pred = logReg.predict(X_test)
print(accuracy_score(y_test, y_pred))

0.9459459459459459

In [85]:
#2 features
# we are going to choose only two features.

X2 = df.loc[:, "SepalLength":"SepalWidth"]  # the columns for petal_length and petal_width
y2 = df['Class']

df_zero = df.loc[df['Class'] == 0]
df_one = df.loc[df['Class'] == 1]
df_two = df.loc[df['Class'] == 2]
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y, random_state = 42)

In [86]:
# initiate a new instance of Logistic Regression Model

logReg2 = LogisticRegression (solver = 'lbfgs', multi_class = 'auto', random_state = 42) # use the same seed for random_state 
logReg2.fit(X2_train, y2_train)
y2_pred = logReg2.predict(X2_test)
print(y2_pred)

[1 1 0 0 0 1 1 2 2 0 0 2 2 2 2 2 1 2 1 2 2 1 0 2 0 1 1 2 1 0 0 0 1 1 0 0 2]

In [87]:
print(accuracy_score(y2_test, y2_pred))

0.7567567567567568